<html>
<head>
<title>My Application Landing Page</title>
</head>
<body>
<h1>I am running on following host: <br> {{ ansible_hostname }}:{{ ansible_ssh_host }}</h1>

<a href="/phpinfo.php">Check phpinfo() information</a>
<br><br>
<a href="/php-http-vars.php">Check PHP HTTP Vars</a>
<br><br>
<a href="/crud">Application: CRUD Example Using PHP OOPS And PostgreSQL</a>
<br><br>
<a href="/index-sample.html">Sample Index HTML from installation Setup</a>

</body>
</html>